
.player-button {
    -fx-background-radius: 15;
    -fx-effect: null;
}

.player-button:focused {
    /*-fx-background-insets: 0, 0, 1, 2;*/
    -fx-background-color: transparent;
}

.player-button:hover {
    -fx-effect: dropshadow(gaussian, lightslategray, 2, 0.2, 0, 0);
}

.player-button:pressed {
    -fx-effect: innershadow(gaussian, lightslategray, 15, 0.1, 0, 0);
}

.button-forward {
    -fx-background-image: url("actions-media-skip-forward-icon-32.png");
}

.button-backward {
    -fx-background-image: url("actions-media-skip-backward-icon-32.png");
}

.button-play {
    -fx-background-image: url("actions-media-playback-start-icon-32.png");
}

.button-play-paused {
    -fx-background-image: url("actions-media-playback-pause-icon-32.png");
}
